p {
   display: inline;
}
.container {
   background: #caf;
   width: 260px;
   display: flex;
   flex-wrap: wrap;
}

.container div {
   width: 100px;
   height: 100px;
   padding: 10px;
   border: 5px solid #000;
}
